.App {
  text-align: center;
  padding: 0.5rem;
}

label{
  display: inline;
  font-size: 10px;
}

#mainbox Input{
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 0px;
}

.topsectiondropdown{
  margin-top:15px;
}

.dndlogo{
max-width:80%;

}

.navfillwidth{
  width:100%;
  border-radius: 5px;
}

.d-and-d-statbox-modifier {
  text-align: center;
  font-size: 35px;
}

.dndstatrow{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 18%;
  border: 2px solid #000;
  display: inline-block;
  font-weight: 700;
}

.dndinputcircle{
  border-radius: 50%;
  position:absolute;
  left:-.4rem;
  top:-.4rem;
  width: 37px;
  height: 37px;
  border: 2px solid #000;
  font-weight: 700;
}

.dndinputbox{
  border-radius: 20%;
  position:absolute;
  left:-.4rem;
  top:-.4rem;
  width: 37px;
  height: 37px;
  border: 2px solid #000;
  font-weight: 700;
}

.dndinputcheck{
  position:absolute;
  left:1.4rem;
  top:0.2rem;
  }

.underlinediput{
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  width: 22px;
  margin-right:5px;
  text-align: center;
}

.footertext{
  font-size:10px;
}

.armorclass{
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 6rem;
  height:5.5rem;
}

.initspeed{
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  max-width: 6rem;
  height:5.5rem;
}

.notes{
  line-height: 25px;
  background-image: linear-gradient(transparent,transparent 24px,#cfcfcf 0);
  background-size: 100% 25px;
  width: 100%;
  border: none;
  resize: none;
  background-position-y: 1.5px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
}

.divider{
  border-left: 1px solid #6c757d;
  height: 5.5rem;
  transform: rotate(45deg);
}