.App {
  text-align: center;
  padding: 0.5rem;
}

label{
  display: inline-block;
  font-size: 12px;
}

Input{
  width: 100%;
  margin-top: 15px;
  font-size: 16px;
  margin-bottom: 0px;
}

.topsectiondropdown{
  margin-top:15px;
}

.dndlogo{
max-width:80%;

}

.navfillwidth{
  width:100%;
  border-radius: 5px;
}

.d-and-d-statbox-modifier {
  text-align: center;
  font-size: 24px;
}

.dndstatrow{
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding-top: 18%;
  border: 2px solid #000;
  display: inline-block;
  font-weight: 700;
}

.footertext{
  font-size:10px;
}
